toml
setuptools 
twine
build
colorama
requests
dateparser
django
docutils
croniter
qrcode[pil]
cryptography
jinja2
pygame
httpx
pyperclip; platform_system == "Windows"
plyer
numpy
pygetwindow; platform_system == "Windows"
duckdb
pywin32; platform_system == "Windows"
selenium
webdriver-manager
bs4
markdown
mfrc522; platform_system == "Linux"
pandas
openpyxl
coverage
bandit
argcomplete
PyJWT
sounddevice
PyYAML
pywebview
opencv-python
