[Unit]
Description=GWAY Service
After=network.target

[Service]
Type=simple
User=arthe
WorkingDirectory=/home/arthe/gway
ExecStartPre=/home/arthe/gway/upgrade.sh
ExecStart=/home/arthe/gway/gway.sh -dr ocpp.csms                                     
Restart=on-failure
Environment=PYTHONUNBUFFERED=1
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
